#first-element{
        background-color: pink;
        height: 100px;
        }

body{
    background-color: pink;
    margin: 10px auto;
    padding: 10px;
}

p{
    font-family: "Arial, sans-serif";
    text-align: center;
}

table, th, td{
    border: 5px solid black;
    border-collapse: collapse;
}

